@model List<ManagementWebApp.Models.UserModels>
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";
}
<h2>Users Details</h2>
<input type="text" id="inputarea" placeholder="Search Users.." />
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>User Name</th>
        <th>Phone No</th>
        <th>Mail Id</th>
     

    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id;
                </td>
                <td>@item.Name</td>
                <td>@item.PhoneNo</td>
                <td>@item.MailId</td>
                
             
            </tr>
        }
    </tbody>



</table>

