
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        * {
            margin: 0%;
            padding: 0%;
            font-family: sans-serif;
        }

        .navardivl {
            background-color: #363644;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 13px;
        }

        .navinnerdiv2 {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 20%;
        }

        #location {
            border: none;
            font-size: 15px;
            font-weight: 500;
            color: white;
            background-color: #363644;
        }

        option {
            background-color: #363644;
        }

        #Login {
            padding: 10px;
            width: 100%;
            border-radius: 5px;
            background-color: #fc5087;
            color: white;
            border: none;
            outline: none;
        }

        .catagorynavdiv li {
            list-style-type: none;
            display: inline;
            margin: 1%;
            color: white;
            float: left;
        }

        .catagorynavdiv {
            background-color: #1e1d34;
            padding: 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

            .catagorynavdiv div {
                width: 50%;
            }

        catagorynavdiv ul li:hover {
            cursor: pointer;
        }
        footer {
            background-color: black;
            color: white;
            text-align: center;
            font-weight: 600;
            bottom: 0;
            padding: 2%;
        }

    </style>
</head>
<body>
    <nav>

        <div class="navardivl">
            <div style="margin-left: 1%;">
                <h2 style="color :white">Book<span style="color :#fc5087">My</span>Event</h2>
            </div>
            <div class="navinnerdiv2">
                <select name="location" id="location">
                    <option value="null">Location</option>
                    <option value="bhubaneshwar">Bhubaneshwar</option>
                    <option value="cuttack">Cuttack</option>
                    <option value="rourkela">Rourkela</option>
                </select>

                <span style="color: #626262;font-weight: 600;font-size: 30px;"> | </span>
                <a href=@Url.Action("UserRegistration", "Home", new { area = "" })><button id="Login">Login/Register</button></a>

            </div>
        </div>
    </nav>

    <nav>

        <div class="catagorynavdiv">
            <div>

                <ul>
                    <li id="movie">Movies</li>
                    <li id="events">Events</li>
                    <li id="sports">Sports</li>
                </ul>
            </div>



        </div>
    </nav>
    <div>
        @RenderBody()
    </div>


    <footer>
        <p>©Hardhik Maharana 2023</p>
    </footer>
</body>

</html>

