
@model ManagementWebApp.Models.UserDb
@{
    ViewBag.Title = "UserLoginPage";
    Layout = "~/Views/Shared/_LayoutUserPage2.cshtml";
}
<style>
    body:before {
        content: '';
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-image: url('../../images/finding your creative niche.png');
        z-index: -1;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-size: cover;
        filter: blur(1px);
    }
    .wrapper {
        position: relative;
        width: 100%;
        height: 100vh;
    }

    .UserLogin-div {
        background-color: rgb(255, 255, 255, 0.50);
        backdrop-filter: blur(10%);
        color: ghostwhite;
        width: 25%;
        padding: 1%;
        border-radius: 10px;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%,-45%);
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    input, #submit {
        border: none;
        outline: none;
    }

        input[type=text], input[type=password] {
            border-bottom: 2px solid aliceblue;
            background-color: transparent;
            margin:20px 0px 20px 0px;
        }

    h4 {
        text-align: center;
    }

    #submit {
        height: 40px;
        border-radius: 5px;
        background-color: #fc5087;
    }
</style>


<div class="wrapper">


    <div class="UserLogin-div">
        <h4>User Login</h4>
        <form target="" method="post" action="@Url.Action("UserLoginValidation","WebpageHome")">
            <label for="UserLoginid">Login Id</label><br />
            @Html.TextBoxFor(x => x.Name)

            <label for="UserLoginPass">Password</label><br />
            @Html.PasswordFor(x => x.Password)

            <button style="margin-top:20px" type="submit" id="submit">Submit</button>


        </form>

    </div>
</div>
