@model ManagementWebApp.Models.Admindetails
@{
    ViewBag.Title = "AdminLoginPage";
    Layout = "~/Views/Shared/_LayoutUserPage2.cshtml";
}

<style>
    * {
        margin: 0;
        font-family: sans-serif;
        
    }
    body:before {
        content: '';
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-image: url('../../images/finding your creative niche.png');
        z-index: -1;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-size: cover;
        filter: blur(1px);
    }
    .wrapper {
        position: relative;
        width: 100%;
        height: 100vh;
    }

    .AdminLogin-div {
        background-color: rgb(255, 255, 255, 0.54);
        backdrop-filter: blur(10%);
        color: ghostwhite;
        line-height: 30px;
        width: 25%;
        padding: 1%;
        border-radius: 10px;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%,-45%);
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    input, button {
        border: none;
        outline: none;
    }

        input[type=text], input[type=password] {
            border-bottom: 2px solid aliceblue;
            background-color: transparent;
            margin:20px 0px 20px 0px;
        }

    h1 {
        text-align: center;
    }

    button {
        height: 40px;
        border-radius: 5px;
        background-color: aquamarine;
    }

    h4 {
        text-align: center;
    }
</style>


<div class="wrapper">
  
    <div class="AdminLogin-div">
        <h4>Admin Login</h4>
        <form target="" action="@Url.Action("AdminValidator","Admin")">
            <label for="adminloginid">Login Id</label><br />
           @Html.TextBoxFor(s=>s.AdminName)

           

            <label for="adminLoginPass">Password</label><br />
            @Html.PasswordFor(s => s.Password)
         
            <button style="margin-top:20px" >Submit </button>


        </form>
    </div>
</div>

