@model ManagementWebApp.Models.movieBookingModels


    <form method="post">
        @Html.EditorFor(s=> s.Name)
        @Html.EditorFor(s=> s.MailId)
        @Html.EditorFor(s=>s.PhoneNo)
        <button>Save</button>
    </form>